<ion-content>

  <div class="m-3">
    <label class="title-game font-weight-bold mt-5">TapTheColor.com</label>
  </div>

  <div class="d-flex  justify-content-center">
    <div class="main text-center gameover mt-5">
      <div class="m-3">
        <label class="col title-game font-weight-bold angle m-0 mt-4"> Your score is {{localScore}}</label>
        <label class="col title-game font-weight-bold text-right angle points m-0">{{bestScore}} 🎉</label>
      </div>      
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
      <button class="retry shadow-sm" routerLink="/home">Retry</button>
  </div>


  <div class="d-flex justify-content-center mt-1">
    <share-buttons theme="circles-dark"
      [include]="['twitter', 'facebook', 'telegram', 'whatsapp']"
      [showIcon]="true"
      [showText]="false"
      url="https://github.com/axeowl/tapthecolor/blob/main/src/assets/logo.png?raw=true"
      description="Il mio punteggio è di {{localScore}} | TapTheColor.com"
      class="pt-2"
      twitterAccount="twitter">
    </share-buttons>
  </div>
  

</ion-content>
