<ion-content>

  <div class="m-3">
    <label class="title-game font-weight-bold">TapTheColor.com</label>
  </div>

  <div class="d-flex  justify-content-center">
    <div class="main text-center gameover mt-5">
      <div class="m-3">
        <label class="col title-game font-weight-bold angle m-0"> Your score is</label>
        <label class="col title-game font-weight-bold text-right angle points m-0">55 🎉</label>
      </div>      
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
      <button class="retry shadow-sm">Retry</button>
  </div>


  <div class="d-flex justify-content-center mt-1">
    <share-buttons theme="circles-dark"
      [include]="['twitter', 'facebook', 'telegram', 'whatsapp']"
      [showIcon]="true"
      [showText]="false"
      url="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"
      description="Il mio punteggio è di {{points}}"
      class="pt-2"
      twitterAccount="twitter">
    </share-buttons>
  </div>
  

</ion-content>
